<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>TestTask - View Categories</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <th:block th:replace="header :: bootstrap">...</th:block>
</head>
<body>
<th:block th:replace="header :: header">...</th:block>
<table>
    <th:block th:each="cat : ${categoryList}">
        <tr>
            <td>
                <a th:text="${cat.name}" th:href="${'viewItems?category=' + cat.name}">link to category</a>
            </td>
            <td th:text="${cat.countOfItems}">count of items</td>

            <td th:if="${categoryToEdit} == ${cat.getName()}">
                <form th:object="${category}" method="post">
                    <textarea th:field="*{description}" th:text="${cat.getDescription()}"></textarea>
                    <button type="submit">update</button>
                </form>
            </td>
            <th:block th:unless="${categoryToEdit} == ${cat.getName()}">
                <td th:text="${cat.getShortDescription()}">description of category</td>
                <td>
                    <form method="get">
                        <button type="submit" name="edit" th:value="${cat.name}" class="btn btn-primary">edit</button>
                        <button type="submit" name="delete" th:value="${cat.name}" class="btn btn-primary">delete</button>
                    </form>
                </td>
            </th:block>
        </tr>
    </th:block>
</table>

<th:block th:unless="${newCat} == true">
    <form method="get">
        <button type="submit" name="newCat">new</button>
    </form>
</th:block>

<th:block th:if="${newCat} == true">
    <form action="#" th:action="@{/viewCategories}" th:object="${category}" method="post">
        <div>
            <p>
                Имя категории:
                <input type="text" th:field="*{name}">
            </p>
            <p>
                Описание категории:
                <textarea th:field="*{description}"></textarea>
            </p>
    <button type="submit"  name="add">add</button>
        </div>
</form>
</th:block>


<!--<select name="itemsperpage">-->
<!--<option>10</option>-->
<!--<option>15</option>-->
<!--<option>20</option>-->
<!--</select>-->

</body>
</html>